dist*
.cabal-sandbox
.cabal-sandbox.bak
*.keter
.shelly
cabal.sandbox.config
static/tmp/
static/files/*.*
static/*/bootstrap-select*
config/client_session_key.aes
config/settings.yml
config/keter.yaml
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
log/*
.env